<h3 class="ui header">{{t "forms.i-i-s-hardware-and-software-accounting-workplace-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.inventoryNumber
      class=(if (v-get validationObject "inventoryNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-hardware-and-software-accounting-workplace-e.inventoryNumber-caption")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-inventoryNumber=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "inventoryNumber" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.officeNumber
      class=(if (v-get validationObject "officeNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-hardware-and-software-accounting-workplace-e.officeNumber-caption")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-officeNumber=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "officeNumber" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.place
      class=(if (v-get validationObject "place" "isInvalid") "error")
      label=(t "forms.i-i-s-hardware-and-software-accounting-workplace-e.place-caption")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-place=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "place" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-hardware-and-software-accounting-workplace-e.branch-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.branch
      class=(if (v-get validationObject "branch" "isInvalid") "error")
      displayAttributeName="name"
      autocomplete=true
      relationName="branch"
      projection="BranchOfficeL"
      title=(t "forms.i-i-s-hardware-and-software-accounting-workplace-e.branch-caption")
      readonly=readonly
      componentName="branchLookup"
      class=(if (v-get validationObject "branch" "isInvalid") "error")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-branch=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "branch" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-hardware-and-software-accounting-workplace-e.software-caption"}}</label>
    {{flexberry-groupedit
      componentName="softwareGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.software
      content=model.software
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "software" "isInvalid") "error")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-software=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "software" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-hardware-and-software-accounting-workplace-e.hardware-caption"}}</label>
    {{flexberry-groupedit
      componentName="hardwareGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.hardware
      content=model.hardware
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "hardware" "isInvalid") "error")
      data-test-i-i-s-hardware-and-software-accounting-workplace-e-hardware=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "hardware" "message")}}
  </div>
</form>